body {
    background-color: gray;
}

#characters {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
 }
 
 .card-img-top {
    height: 280px;
    width: 280px;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
 }
 .card {
     
 }